            #galleria {
                height: 320px;
            }
            #footer{
            	position: fixed;
            	bottom: 0;
            	left: 0;
            }
            /*George*/
            .position-left
            {
            margin:0px !important;
            }
            .float-right{
            float:right !important;
            }
            /*END George*/
